@import "primer/mixins/user-select";
@import "primer/mixins/icon-bootstrap";
@import "primer/mixins/gradient";
@import "primer/mixins/transition";
@import "primer/mixins/box-sizing";
@import "primer/mixins/clearfix";
@import "primer/mixins/variables";

// Use the standard, but classy, `.button` for form actions and primary
// page actions. These are used extensively around the site.
//
// :hover               - Buttons love hover states.
// :active              - Buttons love active states.
// :disabled            - For when you shouldn't be able to click on it.
// .disabled            - Same as the disabled pseudo-class.
// .primary             - For the main form action, use whenever creating something.
// .primary:hover       - Hover state fo primary buttons.
// .primary:active      - A brief moment of polish when the button is pressed.
// .primary:disabled    - Even primary buttons have a down state.
// .primary.disabled    - Same as the disabled pseudo-class.
// .danger              - For potentially bad or destructive actions.
// .danger:hover        - Hover state for danger buttons.
// .danger:active       - Depressed danger button.
// .danger:disabled     - Disabled danger button.
// .danger.disabled     - Same as the disabled pseudo-class.
// .blue                - Actions related to merges.
// .blue:hover          - Hover state for merge buttons.
// .blue:active         - Depressed blue button.
// .blue:disabled       - Disabled blue button.
// .blue.disabled       - Same as the disabled pseudo-class.
// .dark-grey           - Alternate button.
// .dark-grey:hover     - Hover state for alternate buttons.
// .dark-grey:active    - Depressed alternate button.
// .dark-grey:disabled  - Disabled alternate button.
// .dark-grey.disabled  - Same as the disabled pseudo-class.
//
// Styleguide 1.1
.button,
.minibutton {
  position: relative;
  display: inline-block;
  padding: 7px 15px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,.9);
  white-space: nowrap;
  @include gradient(#fafafa, #eaeaea);
  border-radius: 3px;
  border: 1px solid #ddd;
  border-bottom-color: #c5c5c5;
  box-shadow: 0 1px 3px rgba(0,0,0,.05);
  vertical-align: middle;
  cursor: pointer;
  @include user-select(none);
  -webkit-appearance: none; // Corrects inability to style clickable `input` types in iOS.

  &:hover,
  &:active,
  &.zeroclipboard-is-hover,
  &.zeroclipboard-is-active {
    text-decoration: none;
    @include gradient(#eaeaea, #dadada);
    border-color: #ccc #ccc #b5b5b5;
  }

  &:active,
  &.selected,
  &.zeroclipboard-is-active {
    background-color: #dadada;
    background-image: none;
    border-color: #b5b5b5;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.15);
  }

  &:disabled,
  &.disabled {
    &,
    &:hover {
      opacity: .5;
      color: #666;
      text-shadow: 0 1px 0 rgba(255,255,255,.9);
      background-image: none;
      background-color: #e5e5e5;
      border-color: #c5c5c5;
      cursor: default;
      box-shadow: none;
    }
  }

  // Green primary button
  &.primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    @include gradient(#8add6d, #60b044);
    border-color: darken(#60b044, 2%);

    &:hover {
      color: #fff;
      @include gradient(darken(#8add6d, 5%), darken(#60b044, 5%));
      border-color: #4a993e;
    }

    &:active,
    &.selected {
      background-color: darken(#60b044, 5%);
      background-image: none;
      border-color: darken(#4a993e, 5%);
    }

    &:disabled,
    &.disabled {
      &, &:hover {
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,.25);
        @include gradient(#8add6d, #60b044);
        border-color: #74bb5a #74bb5a #509338;
      }
    }
  }

  // Red danger button
  &.danger {
    color: #900;

    &:hover {
      color: #fff;
      text-shadow: 0px -1px 0 rgba(0,0,0,.3);
      @include gradient(#dc5f59, #b33630);
      border-color: #cd504a;
    }

    &:active,
    &.selected {
      color: #fff;
      background-color: #b33630;
      background-image: none;
      border-color: darken(#cd504a, 15%);
    }

    &:disabled,
    &.disabled {
      &, &:hover {
        color: #900;
        text-shadow: 0 1px 0 rgba(255,255,255,.9);
        @include gradient(#fff, #e1e1e1);
        border-color: #c5c5c5;
      }
    }
  }

  // Blue button
  &.blue {
    &, &:hover {
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0,0,0,.25);
      @include gradient(#599bcd, #3072b3);
      border-color: #2a65a0;
    }
    &:hover,
    &:active {
      border-color: #2a65a0;
    }
    &:active,
    &.selected {
      background-color: #3072b3;
      background-image: none;
      border-color: darken(#2a65a0, 5%);
      box-shadow: inset 0 3px 5px rgba(0,0,0,.15);
    }
    &:disabled,
    &.disabled {
      background-position: 0 0;
    }
  }

  &.dark-grey {
    &, &:hover {
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0,0,0,.25);
      @include gradient(#8c8c8c, #6d6d6d);
      border: 1px solid #707070;
      border-bottom-color: #595959;
    }
    &:hover,
    &:active,
    &.selected {
      border-color: #585858;
    }
    &:active,
    &.selected {
      background-color: #545454;
      background-image: none;
      border-color: darken(#545454, 5%);
      box-shadow: inset 0 3px 5px rgba(0,0,0,.15);
    }
  }

  &.with-count {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
  }

}

.button,
.minibutton {
  outline: none;

  &:focus {
    text-decoration: none;
    border-color: #51a7e8;
    box-shadow: 0 0 5px rgba(81,167,232,.5);
  }
}

/// Position images inside buttons correctly
.button img {
  position: relative;
  top: -1px;
  margin-right: 3px;
  vertical-align: middle;
}

// Improve octicons in buttons
.button > .octicon {
  vertical-align: middle;
  margin-top: -1px;
}


// Minibuttons are our general action-style buttons. Generally they link to a
// new page, popup, or activate some piece of the page. They are usually not
// used to submit forms. Also see the `minibutton` rails helper.
//
// :hover            - The hover state.
// :active           - The active state.
// .selected         - A permenantly depressed minibutton, useful for toggles.
// :disabled         - A disabled button.
// .disabled         - Same as pseudo class.
// .primary           - For the main form action, use whenever creating something.
// .primary:hover     - Hover state fo primary buttons.
// .primary:active    - A brief moment of polish when the button is pressed.
// .danger           - This button might do something bad.
// .danger:hover     - This button might do something bad.
// .danger:active    - A depressed danger button.
// .blue             - A nice blue button, for places like merge button confirm box.
// .dark-grey        - A dark grey button for places like the delete branch (w/ unmerged commits) box.
//
// Styleguide 1.2
.minibutton {
  padding: 0 10px;
  line-height: 24px;
  box-shadow: none;

  &:hover {
    .octicon-device-desktop:before {
      background-position: -18px 0;
    }
  }

  i {
    font-weight: 500;
    font-style: normal;
    opacity: .6;
  }
}


// Full-width button.
//
// No styleguide reference.
.button-block {
  display: block;
  width: 100%;
  text-align: center;
  @include box-sizing(border-box);
}


// Link button. For when you want the appearance of a link, but the
// behavior of a button. Ideal for avoiding `href="#"`.
//
// No styleguide reference.
.button-link {
  display: inline;
  padding: 0;
  font-size: inherit;
  color: $brand-linkBlue;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  @include user-select(none);
  -webkit-appearance: none; // Corrects inability to style clickable `input` types in iOS.

  &:hover {
    text-decoration: underline;
  }
}


// I have no idea.
input[type=text] + .minibutton{ margin-left: 5px; }



// Minibuttons with an icon.
//
// .octicon-tools           - Admin.
// .octicon-eye-watch         - Watch.
// .octicon-star             - Star.
// .octicon-cloud-download         - Download.
// .octicon-pencil             - Edit.
// .octicon-person-follow           - Follow.
// .octicon-person-remove   - Unfollow.
// .octicon-git-pull-request     - Pull Request.
// .octicon-git-branch             - Fork.
// .octicon-log-out           - Leave.
// .octicon-diff             - To the compare view!
// .octicon-mail-reply            - Reply.
// .octicon-arrow-left         - Back.
// .octicon-arrow-right        - Forward.
// .octicon-device-desktop          - Microsoft.
// .octicon-device-desktop              - Mac.
//
// Styleguide 1.2.1
.minibutton {
  .octicon {
    vertical-align: middle;
    margin-top: -1px;
    margin-right: 6px;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
  }
  &.zeroclipboard-button .octicon {
    margin-right: 0;
  }
  &.empty-icon .octicon {
    margin-right: 0;
  }
  .octicon-arrow-right {
    float: right;
    margin-right: 0;
    margin-left: 5px;
    margin-top: 4px;
  }
}

// Minibuttons used to switch to something. Like an account dropdown, or
// assignee selector.
//
// .with-image - Assumed to have an avatar-like image embedded in the left.
// :hover - The hover state.
// .selected - A sticky selected state.
// .with-image:hover - With image, hover handed.
// .with-image.selected - With image, selected.
//
// Styleguide 1.2.2
.minibutton.switcher {
  padding: 0;
  height: 24px;
  line-height: 1;

  &>span {
    display: block;
    position: relative;
    padding: 0 26px 0 10px;
    line-height: 24px;
    height: 24px;

    // Dropdown arrow.
    &:before {
      content: "";
      display: block;
      position: absolute;
      border: 3px solid #000;
      border-color: #000 transparent transparent;
      top: 10px;
      right: 7px;
      width: 0;
      height: 0;
    }

    // Separator line between content & arrow.
    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 18px;
      display: block;
      content: "";
      width: 1px;
      background-color: #f9f9f9;
      box-shadow: -1px 0 0 #e4e4e4;
    }
  }

  // Separator line on hover
  &:hover > span:after {
    background-color: #6a9fd3;
    box-shadow: -1px 0 0 #3c74ab;
  }
  // Separator line on active
  &:active > span:after {
    background-color: lighten(#2a65a0, 10%);
    box-shadow: -1px 0 0 darken(#2a65a0, 5%);
  }

  &.with-image {
    height: 32px;

    &>span {
      display: block;
      height: 32px;
      line-height: 32px;
      padding: 0 26px 0 6px;

      &:before {
        top: 14px;
      }
    }

    img{
      position: relative;
      top: -1px;
      margin-right: 2px;
      vertical-align: middle;
      border-radius: 2px;
    }

    &.selected span:before {
      top: 14px;
    }
  }
}
.context-menu-container.active .minibutton.switcher {
  @extend .minibutton.selected;
}
.minibutton.switcher.selected,
.context-menu-container.active .minibutton.switcher {
  // Dropdown arrow.
  &>span:before {
    top: 10px;
    border-color: #fff transparent transparent;
  }

  // Separator
  &>span:after {
    background-color: #888;
    box-shadow: -1px 0 0 #585858;
  }
}
.minibutton.switcher:hover > span:before,
.context-menu-container.active .context-button:after {
  border-color: #fff transparent transparent;
}

// A simple little button to expand a bigger pane.
//
// :hover - The hover style.
// .selected - Depressed state when the pane is open.
//
// Styleguide 1.2.3
.context-button {
  position: relative;
  width: 12px;
  height: 22px;
  line-height: 23px;

  @include icon-bootstrap(16px);

  &:before {
    position: absolute;
    top: 3px;
    left: 3px;
    content: "\f02f";
    display: block;
    padding: 0;
    font-size: 16px;
    line-height: 16px;
  }

  &:after {
    position: absolute;
    top: 10px;
    right: 5px;
    content: "";
    display:block;
    width: 0;
    height: 0;
    border: 3px solid #000;
    border-color: #000 transparent transparent;
  }

  &:hover:after,
  &.selected:after {
    border-color: #fff transparent transparent;
  }
}
// For context menu behavior minibutton selected state
.context-menu-container.active .context-button {
  @extend .minibutton.selected;
}

// Use `.hidden-text-expander` to indicate and expand hidden text.
//
// .inline - button will display inline rather than block
//
// Styleguide 1.2.4
.hidden-text-expander {
  display: block;

  &.inline {
    display: inline-block;
    line-height: 0;
    margin-left: 5px;
    position: relative;
    top: -1px;
  }

  a {
    background: #ddd;
    color: #555;
    padding: 0 5px;
    line-height: 6px;
    height: 12px;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    border-radius: 1px;
    text-decoration: none;

    &:hover {
      background-color: #ccc;
      text-decoration: none;
    }

    &:active {
      background-color: #4183C4;
      color: #fff;
    }
  }
}



// A container that is used for social bubbles counts.
//
// .social-count - social count bubble number
//
// Styleguide 1.2.5
.social-count {
  padding: 0 7px 0;
  font-size: 11px;
  font-weight: bold;
  float: left;
  background-color: #fff;
  line-height: 24px;
  color: $brand-darkGrey;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  &:hover {
    color: $brand-linkBlue;
    cursor: pointer;
    text-decoration: none;
  }
}


// A button group is a series of buttons laid out next to each other, all part
// of one visual button, but separated by rules to be separate. Inside each group
// are either `.button`s or `.minibutton`s as immediate children. No extra markup is
// required, and they work with any button modifier class.
//
// Styleguide 1.4
.button-group {
  display: inline-block;
  @include clearfix();
  vertical-align: middle;

  .button,
  .minibutton {
    position: relative;
    float: left;
    border-radius: 0;
    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    // Bring any button into forefront for proper borders given negative margin below
    &:hover,
    &:focus,
    &:active,
    &.selected {
      z-index: 2;
    }
  }

  // Tuck buttons into one another to prevent double border
  .button + .button,
  .minibutton + .minibutton {
    margin-left: -1px;
    box-shadow: inset 1px 0 0 rgba(255,255,255,.2);
    &:hover {
      box-shadow: none;
    }
    &:active {
      box-shadow: inset 0 3px 5px rgba(0,0,0,.15)
    }
  }
}
// Proper spacing for multiple button groups (a la, gollum editor)
.button-group + .button-group,
.button-group + .button,
.button-group + .minibutton {
  margin-left: 5px;
}
