@import "primer/mixins/box-sizing";

// All of our block level items should have the same margin
$margin: 15px;

// This is styling for generic markdownized text. Anything you put in a
// container with .markdown-body on it should render generally well. It also
// includes some GitHub Flavored Markdown specific styling (like @mentions)
.markdown-body {

  font-size: 15px;
  line-height: 1.7;
  overflow: hidden;

  & > *:first-child {
    margin-top: 0 !important;
  }

  & > *:last-child {
    margin-bottom: 0 !important;
  }

  // Link Colors
  a.absent {
    color: #c00;
  }

  a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  // Headings
  h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 $margin;
    padding: 0;
    font-weight: bold;
    line-height: 1.7;
    cursor: text;
    position: relative;

    .octicon-link {
      display: none;
      color: #000;
    }

    &:hover a.anchor {
      text-decoration: none;
      line-height: 1;
      padding-left: 0;
      margin-left: -22px;
      top: 15%;

      .octicon-link {
        display: inline-block;
      }
    }
    tt, code {
      font-size: inherit;
    }
  }

  h1 {
    font-size: 2.5em;
    border-bottom: 1px solid #ddd;
  }

  h2 {
    font-size: 2em;
    border-bottom: 1px solid #eee;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    color: #777;
    font-size: 1em;
  }

  p,
  blockquote,
  ul, ol, dl,
  table,
  pre {
    margin: $margin 0;
  }

  hr {
    background: transparent image-url("primer/markdown/dirty-shade.png") repeat-x 0 0;
    border: 0 none;
    color: #ccc;
    height: 4px;
    padding: 0;
    margin: $margin 0;
  }

  // ReST first graf in nested list
  li p.first {
    display: inline-block;
  }

  // Lists, Blockquotes & Such
  ul, ol {
    padding-left: 30px;

    &.no-list {
      list-style-type: none;
      padding: 0;
    }
  }

  // Did someone complain about list spacing? Encourage them
  // to create the spacing with their markdown formatting.
  // List behavior should be controled by the markup, not the css.
  //
  // For lists with padding between items, use blank
  // lines between items. This will generate paragraphs with
  // padding to space things out.
  //
  // - item
  //
  // - item
  //
  // - item
  //
  // For list without padding, don't use blank lines.
  //
  // - item
  // - item
  // - item
  //
  // Modifying the css to emulate these behaviors merely brakes
  // one case in the process of solving another. Don't change
  // this unless it's really really a bug.
  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  dl {
    padding: 0;
  }

  dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin-top: $margin;
  }

  dl dd {
    margin-bottom: $margin;
    padding: 0 15px;
  }

  blockquote {
    border-left: 4px solid #DDD;
    padding: 0 15px;
    color: #777;

    & > :first-child {
      margin-top: 0px;
    }

    & > :last-child {
      margin-bottom: 0px;
    }
  }

  // Tables
  table {

    width: 100%;
    overflow: auto;
    display: block;

    th {
      font-weight: bold;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 6px 13px;
    }

    tr {
      border-top: 1px solid #ccc;
      background-color: #fff;

      &:nth-child(2n) {
        background-color: #f8f8f8;
      }
    }
  }

  // Images & Stuff
  img {
    max-width: 100%;
    @include box-sizing();
  }

  // Gollum Image Tags

  // Framed
  span.frame {
    display: block;
    overflow: hidden;

    & > span {
      border: 1px solid #ddd;
      display: block;
      float: left;
      overflow: hidden;
      margin: 13px 0 0;
      padding: 7px;
      width: auto;
    }

    span img {
      display: block;
      float: left;
    }

    span span {
      clear: both;
      color: #333;
      display: block;
      padding: 5px 0 0;
    }
  }

  span.align-center {
    display: block;
    overflow: hidden;
    clear: both;

    & > span {
      display: block;
      overflow: hidden;
      margin: 13px auto 0;
      text-align: center;
    }

    span img {
      margin: 0 auto;
      text-align: center;
    }
  }

  span.align-right {
    display: block;
    overflow: hidden;
    clear: both;

    & > span {
      display: block;
      overflow: hidden;
      margin: 13px 0 0;
      text-align: right;
    }

    span img {
      margin: 0;
      text-align: right;
    }
  }

  span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;

    span {
      margin: 13px 0 0;
    }
  }

  span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;

    & > span {
      display: block;
      overflow: hidden;
      margin: 13px auto 0;
      text-align: right;
    }
  }

  // Inline code snippets
  code, tt {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius:3px;
  }

  code { white-space: nowrap; }

  // Code tags within code blocks (<pre>s)
  pre > code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
  }

  .highlight pre, pre {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius:3px;
  }

  pre code, pre tt {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
  }
}
