@import "primer/mixins/variables";
@import "primer/mixins/gradient";

// A menu on the side of a page, defaults to left side. e.g. github.com/about
//
// .menu li.active - Something
//
// Styleguide 8.3
.menu-container {
  float: left;
  width: 200px;
  padding: 3px;
  background: #efefef;
  border-radius: 2px;
}

.menu {
  background: #fafafb;
  border-radius: 2px;
  border: 1px solid #d8d8d8;
  list-style: none;

  // Get rid of underlines on hover
  a:hover { text-decoration: none; }

  li {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #fff;

    // Hide bottom border on last li
    &:last-child { border-bottom: none; }

    // Hide top border on first li
    &:first-child { border-top: none; }
  }

  a {
    display: block;
    padding: 8px 10px 8px 8px;
    text-shadow: 0 1px 0 #fff;
    border-left: 2px solid #fafafb;

    &:hover {
      background: #fdfdfe;
    }

    .octicon {
      color: $brand-darkGrey;
      width: 16px;
      text-align: center;
    }

    &.selected {
      background: #fff;
      border-left: 2px solid #d26911;
      font-weight: bold;
      color: #222;
      cursor: default;
      box-shadow: inset 0 0px 1px rgba(0,0,0, 0.1);
    }

    .counter {
      float:right;
      margin: 0 0 0 5px;
      padding: 2px 5px;
      font-size: 11px;
      font-weight: bold;
      color: #999;
      background: #eee;
      border-radius: 2px;
    }
  }

  .menu-warning {
    color: #D26911;
    float: right;
  }
}

// Turn a menu into an accordion menu
//
// Styleguide 8.3.1
.accordion {
  background: #fafafb;
  list-style: none;

  .section {
    border-top: 1px solid #d8d8d8;
    border-top: none;

    &:first-child {
      border-top: none;
    }

    a.section-head {
      @include gradient(#fafafa, #e0e0e0);
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
      display: block;
      padding: 10px 10px;
      border-bottom: 1px solid #ccc;
      color: #222;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      text-shadow: 0 1px 0 rgba(255,255,255,0.7);
      border-left: 0 none;

      img {
        float: left;
        margin: 0 10px 0 0;
        border-radius: 2px;
      }
    }

    // The nested ul is the actual navigation for the section
    .section-nav {
      list-style: none;
      display: none;

      &.expanded { display: block; }
    }
  }
}
