.highlight  {
  background: #ffffff;

  // Comment
  .c { color: #999988; font-style: italic }

  // Error
  .err { color: #a61717; background-color: #e3d2d2 }

  // Keyword
  .k { font-weight: bold }

  // Operator
  .o { font-weight: bold }

  // Comment.Multiline
  .cm { color: #999988; font-style: italic }

  // Comment.Preproc
  .cp { color: #999999; font-weight: bold }

  // Comment.Single
  .c1 { color: #999988; font-style: italic }

  // Comment.Special
  .cs { color: #999999; font-weight: bold; font-style: italic }

  // Generic.Deleted
  .gd { color: #000000; background-color: #ffdddd }

  // Generic.Deleted.Specific
  .gd .x { color: #000000; background-color: #ffaaaa }

  // Generic.Emph
  .ge { font-style: italic }

  // Generic.Error
  .gr { color: #aa0000 }

  // Generic.Heading
  .gh { color: #999999 }

  // Generic.Inserted
  .gi { color: #000000; background-color: #ddffdd }

  // Generic.Inserted.Specific
  .gi .x { color: #000000; background-color: #aaffaa }

  // Generic.Output
  .go { color: #888888 }

  // Generic.Prompt
  .gp { color: #555555 }

  // Generic.Strong
  .gs { font-weight: bold }

  // Generic.Subheading
  .gu { color: #800080; font-weight: bold; }

  // Generic.Traceback
  .gt { color: #aa0000 }

  // Keyword.Constant
  .kc { font-weight: bold }

  // Keyword.Declaration
  .kd { font-weight: bold }

  // Keyword.Namespace
  .kn { font-weight: bold }

  // Keyword.Pseudo
  .kp { font-weight: bold }

  // Keyword.Reserved
  .kr { font-weight: bold }

  // Keyword.Type
  .kt { color: #445588; font-weight: bold }

  // Literal.Number
  .m { color: #009999 }

  // Literal.String
  .s { color: #d14 }

  // Name
  .n { color: #333333 }

  // Name.Attribute
  .na { color: #008080 }

  // Name.Builtin
  .nb { color: #0086B3 }

  // Name.Class
  .nc { color: #445588; font-weight: bold }

  // Name.Constant
  .no { color: #008080 }

  // Name.Entity
  .ni { color: #800080 }

  // Name.Exception
  .ne { color: #990000; font-weight: bold }

  // Name.Function
  .nf { color: #990000; font-weight: bold }

  // Name.Namespace
  .nn { color: #555555 }

  // Name.Tag
  .nt { color: #000080 }

  // Name.Variable
  .nv { color: #008080 }

  // Operator.Word
  .ow { font-weight: bold }

  // Text.Whitespace
  .w { color: #bbbbbb }

  // Literal.Number.Float
  .mf { color: #009999 }

  // Literal.Number.Hex
  .mh { color: #009999 }

  // Literal.Number.Integer
  .mi { color: #009999 }

  // Literal.Number.Oct
  .mo { color: #009999 }

  // Literal.String.Backtick
  .sb { color: #d14 }

  // Literal.String.Char
  .sc { color: #d14 }

  // Literal.String.Doc
  .sd { color: #d14 }

  // Literal.String.Double
  .s2 { color: #d14 }

  // Literal.String.Escape
  .se { color: #d14 }

  // Literal.String.Heredoc
  .sh { color: #d14 }

  // Literal.String.Interpol
  .si { color: #d14 }

  // Literal.String.Other
  .sx { color: #d14 }

  // Literal.String.Regex
  .sr { color: #009926 }

  // Literal.String.Single
  .s1 { color: #d14 }

  // Literal.String.Symbol
  .ss { color: #990073 }

  // Name.Builtin.Pseudo
  .bp { color: #999999 }

  // Name.Variable.Class
  .vc { color: #008080 }

  // Name.Variable.Global
  .vg { color: #008080 }

  // Name.Variable.Instance
  .vi { color: #008080 }

  // Literal.Number.Integer.Long
  .il { color: #009999 }

  .gc {
    color: #999;
    background-color: #EAF2F5;
  }
}

.type-csharp .highlight {
  .k { color: #0000FF }
  .kt { color: #0000FF }
  .nf { color: #000000; font-weight: normal }
  .nc { color: #2B91AF }
  .nn { color: #000000 }
  .s { color: #A31515 }
  .sc { color: #A31515 }
}