// Has all the necessities for font icons
//
// Compatibility untested.
@mixin icon-bootstrap($size) {
  font: normal normal $size 'octicons';
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
